/* 5 web development */

body 
	{
	position:absolute;
	margin-left:135px;
	margin-top:0px;
	line-height:16px;
	background-color:white;
	margin:0px;
	padding:0px;
	color:#333333;
	font-family:Verdana,Tahoma,Arial,Sans Serif;
	font-size:12px;
	}
	

/* DAFC Building graphic */
#graphic
	{
	position:absolute;
	top:84px;
	left:660px;
	}
a:link
	{
	color:#333333;
	}

a:visited
	{
	color:#333333;
	}

a:hover
	{
	color:#cccccc;
	}

a:active
	{
	color:#006699;
	}

img
	{
	border:0px;
	}

#logo
	{
	background-image:url(../images/5logoheader2.jpg);
	margin:5px 0px 5px 5px;
	width:600px;
	height:93px;
	}

#bckgndlogin
	{
	position:absolute;
	background-image:url(../images/login_bckgnd3.jpg);
	margin:19px 0px 0px 5px;
	width:244px;
	height:59px;
	}
#newaccnt
	{
	position:absolute;
	top:180px;
	left:10px;
	}
#CLIENTlogo
	{
	position:relative;
	background-image:url(../images/admin_logo.jpg);
	margin: 0px 0px 5px 5px;
	border-left:2px solid #CCCCCC;
	width:200px;
	height:24px;
	z-position:0;
	}
#flashlogin

	{
	margin: 24px 0px 0px 10px;
	}
#homesignin
	{
	position:absolute;
	margin-left:6px;
	line-height:10px;
	color:#333333;
	font-family:Verdana,Tahoma,Arial,Sans Serif;
	font-size:10px;
	}

#homeformname
	{
	position:absolute;
	margin-top:20px;
	}

#homeformpswd
	{
	position:absolute;
	margin-top:45px;
	}

#box1
	{
	background-color:#6699cc;
	/*background-image:url(images/boxbg01.gif);*/
	background-repeat:repeat-n;
	width:763px;
	height:65px;
	border-bottom:2px solid #EFBC23;
	margin:0px;
	padding:0px;
	color:#fff;
	}

#lbox
	{
	position:relative;
	margin-top:20px;
	}
#headerLogo
	{
	position:relative;
	font-size:18px;
	line-height:16px;
	padding-top:0px;
	padding-left:5px;
	margin:0px;
	}

#adminheader
	{
	position:relative;
	margin-top:5px;
	}
#adminlinks
	{
	position:absolute;
	}

#nav
	{
	width:600px;
	height:12px;
	margin-left: 10px;
	margin-top: 99px;
	position: absolute;
	z-position:1;
	}
	
#links
	{
	margin-left: 0px;
	width:100%;
	}

#lmenu
	{
	height:14px;
	padding:5px 10px;
	color: #000000;
	}
	
.projectdetails
	{
	position:relative;
	height: 13px;
	padding:0px 10px;
	padding-top:0px;
	}

.mainNav
	{
	height:14px;
	padding:0px 14px;
	float:left;
	}

/* Navigation Status Indicator */
.mainNavSelect
	{
	padding:0px 14px;
	position:relative;
	height:12px;
	color: #666666;
	float:left;
	}
	
/* Style for main navigation link ... while on sub navigation page of selected main navigation tab ... in Norway */
#nav #links .mainNavSelect a:link
	{
	color:#fff;
	text-decoration:none;
	}
	
#nav #links .mainNavSelect a:visited
	{
	color:#fff;
	text-decoration:none;
	}
	
#nav #links .mainNavSelect a:hover
	{
	color:#fff;
	text-decoration:underline;
	}
	
#nav #links .mainNavSelect a:active
	{
	color:#fff;
	text-decoration:underline;
	}

	
#links a:link
	{
	color:#ccc;
	text-decoration:none;
	}
		
#links a:visited
	{
	color:#ccc;
	text-decoration:none;
	}
	
#links a:hover
	{
	color:#ffffff;
	text-decoration:none;
	}

#links a:active
	{
	color:#999;
	text-decoration:none;
	}

/* Tan bar at bottom */
#topGrey
	{
	position:absolute;
	margin-top:17px;
	background-color:#ffffff;
	height:13px;
	width:600px;
	border-top:5px solid #CCCCCC;
	}

#bottomGrey
	{
	position:relative;
	margin-top:153px;
	background-color:#ffffff;
	height:13px;
	width:600px;
	border-top:2px solid #CCCCCC;
	}
	
/* Sub Navigation Styles */
.subNav
	{
	position:relative;
	color:#cc0;
	font-size:10px;
	padding:4px 10px;
	}

#blueBar .subNav a:link
	{
	color:#fff;
	font-size:10px;
	text-decoration:none;
	}
		
#blueBar .subNav a:visited
	{
	color:#fff;
	font-size:10px;
	text-decoration:none;
	}
	
#blueBar .subNav a:hover
	{
	color:#fff;
	font-size:10px;
	text-decoration:underline;
	}
	
#blueBar .subNav a:active
	{
	color:#fff;
	font-size:10px;
	text-decoration:underline;
	}
	
	
#boxTextInd
	{
	padding-left:7px;
	}


/* Gray outline thing */
#grayOutline
	{
	background-image:url(images/grayOutlineRepeat.gif);
	background-repeat:repeat-x;
	height:26px;
	width:100%;
	margin-top:12px;
	padding:0px;
	}

#grayOutlineText
	{
	color:#999;
	font-size:14px;
	padding-top:4px;
	}
	
#footer
	{
	position:relative;
	padding:30px 10px;
	font-size:9px;
	color:#999999;
	}


/* Interior Page Header Styles */
#pageHead
	{
	background-color:#66c;
	width:100%;
	height:80px;
	border-top:1px solid #fff;
	border-bottom:1px solid #006;
	padding:0px;
	text-align:left;
	}
	
/* Interior Page Body Copy Style */
#bodyCopy
	{
	margin-top:25px;
	margin-left:200px;
	position: absolute;
	border-left:1px solid #006;
	padding:10px 0px 0px 10px;
	width:420px;
	line-height:16px;
	}
	
/* Style for images within Body Copy */
.bodyCopyPic
	{
	text-align:center;
	font-size:9px;
	line-height:12px;
	padding-top:4px;
	}
	
/* Style for subscript aligned to images within body copy */
.imageSubscript
	{
	padding:5px;
	}
	
.imageSubscriptP /* the "P" means paragraph text referring to above image */
	{
	text-align:left;
	font-size:10px;
	padding:0px 30px 5px 36px;
	}
	
h1
	{
	font-size:16px;
	margin:6px 0px 6px 0px;
	}
	
h2
	{
	font-size:12px;
	margin:12px 0px 2px 0px;
	font-style:normal;
	}
	
blockquote
	{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:5px;
	margin:8px 10px 8px 10px;
	color:#666;
	font-size:12px;
	}
	
p
	{
	margin:10px 0px;
	}

/* Signature within <blockquote> */
#sig
	{
	font-size:10px;
	padding-top:6px;
	font-style:italic;
	}
	
/* Footer for Interior pages */
#intFooter
	{
	padding:30px 142px;
	font-size:9px;
	color:#999;
	}

#dvtintFooter
	{
	padding:30px 83px;
	font-size:9px;
	color:#999;
	}
	
/* Style for "back to top" link */
.backToTop
	{
	float:right;
	font-size:9px;
	padding:8px;
	}
	
#searchBar
	{
	padding:15px 0px;
	}

#r6greyBar
	{
	position:absolute;
	margin-top:8px;
	background-color:#FFFFFF;
	border-bottom:2px solid #CCCCCC;
	height:2px;
	width:100%;
	}

#r6greyBarBttm
	{
	position:absolute;
	margin-top:46px;
	background-color:#FFFFFF;
	border-top:2px solid #CCCCCC;
	height:2px;
	width:100%;
	}

#r6greyHead
	{
	position:absolute;
	margin-top:24px;
	background-color:#999999;
	width:100%;
	height:20px;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #ffffff;
	}

/* Interior Page Body Copy Style */
#r6bodyCopy
	{
	margin-left:25px;
	border-left:1px solid #999;
	padding:10px 0px 0px 10px;
	width:675px;
	line-height:16px;
	}

/* Bullet Points */
li
	{
	color:#000;
	font-size:10px;
	//padding:0px 0px 0px 30px;
	//float:left;
	}


/* Explanation Page Body Copy Style */
#expCopy
	{
	margin-left:48px;
	border-left:1px solid #006;
	padding:10px 0px 0px 10px;
	width:682px;
	line-height:16px;
	}

/* ================ FORM STYLE ================== */

#newaccountsetup
	{
	position:relative;
	top:0px;
	}

#username
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:50px;
	}
#password
	{
	position:absolute;
	left:250px;
	line-height:18px;
	top:50px;
	}
#passwordconfirm
	{
	position:absolute;
	left:250px;
	line-height:18px;
	top:100px;
	}
#prefix
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:170px;
	}
#fname
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:220px;
	}
#mname
	{
	position:absolute;
	left:330px;
	line-height:18px;
	top:220px;
	}
#lname
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:270px;
	}

#address1
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:340px;
	}
#address2
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:390px;
	}
#city
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:440px;
	}

#state
	{
	position:absolute;
	left:240px;
	line-height:18px;
	top:440px;
	}

#zip
	{
	position:absolute;
	left:465px;
	line-height:18px;
	top:440px;
	}

#phone1
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:520px;
	}

#phone2
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:570px;
	}

#phone3
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:620px;
	}

#email1
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:700px;
	}
#email1conf
	{
	position:absolute;
	left:300px;
	line-height:18px;
	top:700px;
	}
#email2
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:750px;
	}
#url1
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:830px;
	}
#url1type
	{
	position:absolute;
	left:300px;
	line-height:18px;
	top:830px;
	}
#url2
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:880px;
	}
#url2type
	{
	position:absolute;
	left:300px;
	line-height:18px;
	top:880px;
	}
#url3
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:930px;
	}
#url3type
	{
	position:absolute;
	left:300px;
	line-height:18px;
	top:930px;
	}
#url4
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:980px;
	}
#url4type
	{
	position:absolute;
	left:300px;
	line-height:18px;
	top:980px;
	}
#msgrid
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:1060px;
	}
#msgrtype
	{
	position:absolute;
	left:300px;
	line-height:18px;
	top:1060px;
	}
#referralcode
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:1140px;
	}
#referralcode
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:1140px;
	}
#busname
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:1750px;
	}
#submitnew
	{
	position:absolute;
	left:50px;
	line-height:18px;
	top:1220px;
	}
#resetnew
	{
	position:absolute;
	left:200px;
	line-height:18px;
	top:1220px;
	}
