H1 {
	COLOR: #000000; FONT-SIZE: 120%
}
H2 {
	COLOR: #000000; FONT-SIZE: 100%
}
H3 {
	COLOR: #000000
}
H4 {
	COLOR: #000000
}
H5 {
	COLOR: #000000
}
H6 {
	COLOR: #000000
}
.centeraligntext {
	TEXT-ALIGN: center
}
.leftaligntext {
	TEXT-ALIGN: left
}
.rightaligntext {
	TEXT-ALIGN: right
}
.menulisttext {
	LIST-STYLE: none
}
.captiontext {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #ffffff 2px solid; BORDER-LEFT: #ffffff 2px solid; BORDER-RIGHT: #ffffff 2px solid; BORDER-TOP: #ffffff 2px solid; COLOR: #000000; DISPLAY: none; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 100%; TEXT-ALIGN: left; VERTICAL-ALIGN: middle
}
.pageheadertext {
	WIDTH: 80%
}
.skiplinks {
	DISPLAY: none
}
.pageheaderlinks {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 70%; TEXT-ALIGN: center; VERTICAL-ALIGN: middle
}
.pagefooterlinks {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 70%; TEXT-ALIGN: center; VERTICAL-ALIGN: middle
}
.backlinktext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 100%
}
.pagetitletext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 100%; FONT-WEIGHT: bold; LINE-HEIGHT: 2
}
.infotext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 90%; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.menuheadertext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 120%; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.menulinktext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 110%; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.submenulinktext {
	FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 110%; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.menulinkdesctext {
	FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 90%; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.normaltext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 100%; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.errortext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 100%; FONT-WEIGHT: 400
}
.warningtext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 100%; FONT-WEIGHT: 400
}
.multipagemsgtext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: 400; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.releasetext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.requiredmsgtext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 80%
}
.fieldlabeltext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 100%; FONT-WEIGHT: bold; TEXT-ALIGN: left; VERTICAL-ALIGN: middle
}
.fieldlabeltextinvisible {
	DISPLAY: none
}
.fieldrequiredtext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 120%; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
.fieldformattext {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 80%; TEXT-ALIGN: left; VERTICAL-ALIGN: middle
}
.fielderrortext {
	COLOR: #ffffcc; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 90%; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #000000
}
BODY {
	BACKGROUND-COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif; MARGIN-LEFT: 0%; MARGIN-RIGHT: 0%
}
DIV.menulistdiv {
	MARGIN: 0% 1% 0em; TEXT-ALIGN: left
}
DIV.pageheaderdiv {
	BACKGROUND-COLOR: #b0c4de; MARGIN: 1% 1% 0em; TEXT-ALIGN: left
}
DIV.headerlinksdiv {
	MARGIN: 1% 1% 0em; TEXT-ALIGN: center
}
DIV.headerlinksdiv A:link {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
DIV.headerlinksdiv A:visited {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
DIV.footerlinksdiv {
	MARGIN: 1% 1% 0em; TEXT-ALIGN: center
}
DIV.footerlinksdiv A:link {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
DIV.footerlinksdiv A:visited {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
DIV.backlinkdiv {
	MARGIN: 1% 1% 0em; TEXT-ALIGN: left
}
DIV.pagetitlediv {
	MARGIN: 1% 1% 0em; TEXT-ALIGN: left
}
DIV.infotextdiv {
	MARGIN-LEFT: 0%; MARGIN-RIGHT: 0%; TEXT-ALIGN: left
}
DIV.pagebodydiv {
	MARGIN: 0em 1%; TEXT-ALIGN: center
}
DIV.pagefooterdiv {
	MARGIN: 1em 1% 0em; TEXT-ALIGN: left
}
TABLE.dataentrytable {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; TEXT-ALIGN: left
}
TABLE.datadisplaytable {
	BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; TEXT-ALIGN: center; WIDTH: 98%
}
TABLE.plaintable {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; TEXT-ALIGN: left
}
TABLE.menuplaintable {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; TEXT-ALIGN: left
}
TABLE.pageheadertable {
	BACKGROUND-COLOR: #b0c4de; BORDER-BOTTOM: 2px solid; BORDER-LEFT: 2px solid; BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; TABLE-LAYOUT: fixed
}
.rowcolora {
	BACKGROUND: #b0c4de
}
TABLE.infotexttable {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid
}
TABLE TH {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
TABLE TD {
	FONT-FAMILY: verdana, helvetica, arial, sans-serif; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
TABLE TD.detitle {
	BACKGROUND: #b0c4de
}
TABLE TD.deheader {
	BACKGROUND: #b0c4de
}
TABLE TD.delabel {
	BACKGROUND: #b0c4de
}
TABLE TD.deseparator {
	BACKGROUND: #ffffcc
}
TABLE TD.dehighlight {
	BACKGROUND: #ffffcc
}
TABLE TD.dedead {
	BACKGROUND: #efefef
}
TABLE TD.dedefault {
	BACKGROUND: #efefef
}
TABLE TD.dewhite {
	BACKGROUND: #ffffff
}
TABLE TD.ddtitle {
	BACKGROUND: #b0c4de; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TD.ddheader {
	BACKGROUND: #b0c4de; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TD.ddlabel {
	BACKGROUND: #b0c4de; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TD.ddseparator {
	BACKGROUND: #ffffcc; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TD.ddhighlight {
	BACKGROUND: #ffffcc; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TD.dddead {
	BACKGROUND: #efefef; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TD.dddefault {
	BACKGROUND: #efefef; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TD.ddwhite {
	BACKGROUND: #ffffff; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TD.pltitle {
	BACKGROUND: #b0c4de
}
TABLE TD.plheader {
	BACKGROUND: #b0c4de
}
TABLE TD.pllabel {
	
}
TABLE TD.plseparator {
	
}
TABLE TD.plhighlight {
	
}
TABLE TD.pldead {
	
}
TABLE TD.pldefault {
	
}
TABLE TD.plwhite {
	BACKGROUND: #ffffff
}
TABLE TD.mptitle {
	BACKGROUND: #b0c4de
}
TABLE TD.mpheader {
	BACKGROUND: #b0c4de
}
TABLE TD.mplabel {
	BACKGROUND: #b0c4de
}
TABLE TD.mpseparator {
	
}
TABLE TD.mphighlight {
	
}
TABLE TD.mpdead {
	
}
TABLE TD.mpdefault {
	
}
TABLE TD.mpwhite {
	BACKGROUND: #ffffff
}
TABLE TH.detitle {
	BACKGROUND: #b0c4de
}
TABLE TH.deheader {
	BACKGROUND: #b0c4de
}
TABLE TH.delabel {
	BACKGROUND: #b0c4de
}
TABLE TH.deseparator {
	BACKGROUND: #ffffcc
}
TABLE TH.dehighlight {
	BACKGROUND: #ffffcc
}
TABLE TH.dedead {
	BACKGROUND: #efefef
}
TABLE TH.dedefault {
	BACKGROUND: #efefef
}
TABLE TH.dewhite {
	BACKGROUND: #ffffff
}
TABLE TH.ddtitle {
	BACKGROUND: #b0c4de; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TH.ddheader {
	BACKGROUND: #b0c4de; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TH.ddlabel {
	BACKGROUND: #b0c4de; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TH.ddseparator {
	BACKGROUND: #ffffcc; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TH.ddhighlight {
	BACKGROUND: #ffffcc; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TH.dddead {
	BACKGROUND: #efefef; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TH.dddefault {
	BACKGROUND: #efefef; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TH.ddwhite {
	BACKGROUND: #ffffff; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
TABLE TH.pltitle {
	BACKGROUND: #b0c4de
}
TABLE TH.plheader {
	BACKGROUND: #b0c4de
}
TABLE TH.pllabel {
	
}
TABLE TH.plseparator {
	
}
TABLE TH.plhighlight {
	
}
TABLE TH.pldead {
	
}
TABLE TH.pldefault {
	
}
TABLE TH.plwhite {
	BACKGROUND: #ffffff
}
TABLE TH.mptitle {
	BACKGROUND: #b0c4de
}
TABLE TH.mpheader {
	BACKGROUND: #b0c4de
}
TABLE TH.mplabel {
	BACKGROUND: #b0c4de
}
TABLE TH.mpseparator {
	
}
TABLE TH.mphighlight {
	
}
TABLE TH.mpdead {
	
}
TABLE TH.mpdefault {
	
}
TABLE TH.mpwhite {
	BACKGROUND: #ffffff
}
