body {margin:0px; padding:0px;}
#logo5 {float:left; width:173px;}
#header { height:326px;width:100%;background-image:url(../imgs/hdr_x.gif); background-repeat:repeat-x; padding:0px;margin:0px;display:block; clear:both; min-width:800px;}
#ribbon {display:inline;float:right;padding-left:3px;}

#login	{ padding-bottom:10px; line-height:8px; font-family:Verdana,Tahoma,Arial,Sans Serif; font-size:9px; border-top: 1px solid #FFFFFF; clear:both; background-image:url(../imgs/login_bckgnd.jpg); background-repeat:no-repeat; width:244px; height:59px;}
.logintxtbx {width:80px;margin-left:10px;margin-top:1px;}
#signinlink	{ position:absolute;background-image:url(../imgs/signinmouseover.jpg); width:34px; height:11px;margin-left:170px;margin-top:10px;}
#menuslidetxt {font-family:Verdana,Tahoma,Arial,Sans Serif; font-size:9px;padding-left:2px;padding-top:5px;}

#navframe {float:left; width:4px; background-color:#000000; border-right: 1px solid #FFFFFF; height:600px;}
#navshell {float:left;padding-top:0px; margin-top:0px;top:0px;height:600px;}

#contentshell { padding-left:20px; padding-top:20px;  font-size:10px; color:#666666; font-family:Geneva, Arial, Helvetica, sans-serif; width:550px;}

#fivenav {padding:0px;margin:0px; clear:both; display:block; width:550px; float:left;}
.tnav {float:left;padding:0px;margin:0px;width:91px;height:70px; cursor:pointer; cursor:hand;}

.nav {padding:0px;margin:0px;border-left:1px solid #FFFFFF;}
.navon {padding:0px;margin:0px;border-left:1px solid #FFFFFF; }

.nbutton {position:absolute;width:91px;height:70px;}
.nbuttonon {position:absolute;}
img {color:#000000;}
span.clr {display:block; clear:both; width:0; height:0; font-size:0; line-height:1px;}

#bottomGrey	{margin-top:153px;background-color:#ffffff;height:13px;width:550px;border-top:2px solid #CCCCCC; display:block; clear:both;}
#footer { padding:30px 10px; color:#999999; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}

#gnav {text-align:center; margin:auto; width:650px;height:25px;padding-bottom:25px;}
.gnav {display:inline; float:left; border-left:1px solid #FFFFFF;text-align:center; margin:auto;}

.formelement{padding-top:10px}
#trackercontent {font-size:10px; color:#FFFFFF; font-family:Geneva, Arial, Helvetica, sans-serif;}
