/*	----------------------------------------------------------------------------
	
	CSS Code Poetry by J5
	
	----------------------------------------------------------------------------
	
	1.	Globals
	2.	Links
	3.	Layout
		A.	Foundation
		B.	Header
		C.	Content
		D.	Footer
	4.	Styling
		A. Forms
		B. Any Extras
			
	----------------------------------------------------------------------------
	(1) GLOBALS
	--------------------------------------------------------------------------*/
	
	* {
		margin: 0;
		padding: 0;
		}
	
	html, body {
		height: 100%;
		}
	
	body {
		background: #FFFFFF;
		background-image:url(../imgs/wood.jpg);
		font: small/1.4em "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
		color: #000000;
		font-family:"Trebuchet MS",Tahoma,Verdana,sans-serif;
	 	font-size:90.5%;
		}	
		
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		line-height: 1em;
		}
	
	h1 {
		font-size: 140%;
		padding: 4px 0;
		color: #fff;
		}
		
	h2 {
		font-size: 155%;
		line-height: 1.6em;
		color: #000;
		padding-top:15px;
		}
	
	h3 {
		font-size: 75%;
		color: #66615d;
		padding-bottom: 5px;
		}
		
	h3 em {
		font-style: normal;
		color: #ccc3ba;
		}
			
	h4 {
		padding-bottom: 7px;
		font-size: 70%;
		line-height: 1.3em;
		color: #66615d;
		}
		
	h5 {
		padding: 20px 0 5px 0;
		font-size: 130%;
		color: #fff;
		}
		
	blockquote {
		display: block;
		margin-top: 5px;
		padding: 15px 20px 0 20px;
		border-top: 1px dotted #232221;
		color: #ccc6c2;
		}
		
	cite {
		display: block;
		text-align: right;
		padding: 0 20px 5px 20px;
		font-size: 85%;
		color: #66615d;
		border-bottom: 1px dotted #232221;
		margin-bottom: 10px;
		}
	
	p {
		line-height: 1.4em;
		padding-bottom: .8em;
		}
		
	ol {
		padding: 0 0 .8em 20px;
		font-size: 85%;
		}
			
	table {
		border-collapse: collapse;
		font-size: 85%;
		text-align: center;
		}
		
	th {
		background: #141312;
		}
	
	td, th {
		vertical-align:top;
		text-align:left;
		}
	td .element-header{
		padding-top:15px;
		padding-right:15px;
		font-weight:bold;
		font-size: 130%;
	}
	
	em {
		font-style: normal;
		color: #fff;
		}
		
	sup {
		font-size: 50%;
		}
		
	
/*	----------------------------------------------------------------------------
	(2) LINKS
	--------------------------------------------------------------------------*/

	a, a:link, a:visited, a:hover, a:active {
		color: #e8bf74;
		text-decoration: none;
		}

	a:hover {
		color:#666666;
		}
		
	a img {
		border: none;
		}
			
	
	
/*	----------------------------------------------------------------------------
	(3) LAYOUT
	----------------------------------------------------------------------------	
	(3A) Foundation
	--------------------------------------------------------------------------*/
	
	
	#shell {
		height: 100%;
		}
 

/*	----------------------------------------------------------------------------
	(3B) Header
	--------------------------------------------------------------------------*/	
	 
	#header { 
	 	height:92px;
		}
	
	#header .hdrtop{
		background-color:#666666;
		height:66px;
		}
		
	#header img{
		padding:14px;
		}
	
	#header .hdrbtm{
		background-image:url(../imgs/hdr_bdr.jpg);
		background-repeat:repeat-x;
		height:26px;
		}
		

/*	----------------------------------------------------------------------------
	(3C) Content
	--------------------------------------------------------------------------*/
				
	#content_wrapper {
		position:absolute;
		width:100%;
		text-align:center;
		margin:0px auto;
		top:40px;
		}
		
	#content_wrapper .module {
		width:800px;
		background-color:#FFFFFF;
		border:1px solid #333333;
		text-align:center;
		margin:0px auto;
		margin-bottom:15px;
		}
		
	#vine {
		width:281px;
		height:342px;
		background-image:url(../imgs/vine.jpg);
		background-repeat:no-repeat;
		}
	#h_form_module{
		margin:20px;
		width:478px;
		}
		
	#h_form_module p{
		font-size:115.5%;
		}
	#h_note{
	 	width:201px;
		}
				
	#introcopy {
		padding:20px;
		height:322px;
		width:478px;
		}
	#introcopy p {
		font-size:115.5%;
		}
		
	.module a {
		color:#666;
		text-decoration:underline;
		}
		
	.module a:hover {
		color:#cccccc;
		text-decoration:underline;
		}
		
	#module_left {
		text-align:left;
		width:400px;
	}
		
	#module_right {
		text-align:left;
		width:400px;
	}
			
	#module_left .title{
		padding:20px;
		padding-bottom:5px;
	}	
	#module_right .title{
		padding:20px;
		padding-right:0px;
		padding-bottom:5px;
	}		
	
	#module_left .sub_wrapper{
		padding:20px;
		padding-top:0px;
		padding-bottom:8px;
	}	
	
	#module_right .sub_wrapper{
		padding:20px;
		padding-top:0px;
		padding-bottom:8px;
	}		
	
	#module_right .sub_wrapper .item_yin {
		padding:10px;
		margin-top:5px;
		margin-bottom:5px;
		background-color:#E6E6E6;
	}
	
	.fav_title a {
		text-decoration:none;
		font-weight:bold;
	}
	
	.fav_title a:hover {
		text-decoration:none;
		font-weight:bold;
		color:#333;
	}	
	
	.fav_tags a:hover{
		color:#333;
	}
	
	#module_right .sub_wrapper .item_yang {
		padding:10px;
		margin-top:5px;
		margin-bottom:5px;
	}	 
	.results_wrapper{
		padding:20px;
	
	}
	.results_wrapper .subtitle {
		font-size: 190%;
		font-weight:bold;
	}
	
	.pcomp_yin{
		margin-left:50px;
		padding:3px;
		padding-left:10px;
	}
	
	.pcomp_yang{
		margin-left:50px;
		padding:3px;
		padding-left:10px;
		background-color:#e6e6e6;
	}	
	
	.pcomp_yin .client_title{
		font-size:115.5%;
		font-weight:bold;
		line-height:17px;
		width:130px;
		padding-bottom:3px;
	}
	
	.pcomp_yang .client_title{
		font-size:115.5%;
		font-weight:bold;
		line-height:17px;
		width:130px;
	}	
	
	.pcomp_yin .dot{
		width:30px;
		text-align:center;
		margin:0px auto;
	}	
	
	.pcomp_yang .dot{
		width:30px;
		text-align:center;
		margin:0px auto;
	}	
	
	.v_details {
		width:120px;
		padding-left:10px;
		cursor:pointer;
	}
	
	.issues_fnd_err{
		color:#E10000;
	}
	
	td .element-style{
		width:115px;
	}
	
	td .element-support {
		width:80px;
		padding-left:40px;
	}
	
	td .element-status {
		width:70px;
		padding-left:40px;
	}
	
	td .element-code {
		width:120px;
	}
	
	.flag_err {
		padding:2px;
		padding-left:5px;
		padding-right:5px;
		background-color:#F18B8B;
	}
	
	.flag_success {
		padding:2px;
		padding-left:5px;
		padding-right:5px;
		background-color:#FFFFFF;
	}
	
	
/*	----------------------------------------------------------------------------
	(3D) Footer
	--------------------------------------------------------------------------*/
	
	#footer {
		width:800px;
		font-size: 80%;
		line-height: 1.4em;
		color: #FFFFFF;
		padding-bottom:30px;
		 text-align:center;
		 margin:0px auto;
		}
		
	#footer .copyright{
		width:800px;
		text-align:left;
		}
 
	#footer a:hover {
		color:#999999;
		text-decoration: none;
		}
				
	#footer .copyright .ok {
		background-image:url(../imgs/check.gif);
		background-repeat:no-repeat;
		float:left;
		margin-right:10px;
		padding-left:17px;
		}		
		
/*	----------------------------------------------------------------------------
	(4) Styling
	--------------------------------------------------------------------------*/		
  
  #h_textarea {
  		width:486px;
		height:199px;
		background-image:url(../imgs/validate_frm_bg.gif);
		background-repeat:no-repeat; 
  	}	
  
  #h_textarea textarea {
  		margin:15px;
		border:1px solid #cccccc; 
		font-family:'Courier New', Courier, monospace; 
		font-size:11px; 
		width:440px; 
		height:120px;
	}
	
  #h_submit {
  		text-align:right;
  	}
  
  		
/*	----------------------------------------------------------------------------
	(4) Extras
	--------------------------------------------------------------------------*/		
	.cb {
		display:block; clear:both;
		}
	
	