/* lowly CSS Document */

* { margin:0px; padding:0px;}
body { text-align:center; margin:0px auto; font-family:Arial, Helvetica, sans-serif; font-size:11px; background-color:#FFFFFF;}
#shell {padding:10px; width:533px; text-align:center; margin:0px auto;}
.cb { display:block; clear:both;}

#tnav_shell { margin-top:5px; width:532px; color:#FFFFFF; font-size:11px; background-image:url(../imgs/tnav_bg.jpg); background-repeat:repeat-x; height:25px; text-align:left;}
#tnav_shell .nav_element { }
#tnav_shell .link_shell { }
#tnav_shell .link_shell .link  { padding-top:0px; font-weight:bold; padding-left:20px; padding-right:20px;}

#body_shell {width:532px; text-align:left; background-image:url(../imgs/cpy_bg.jpg); background-repeat:repeat-y; }
#ftr_shell {width:532px; text-align:left; }

.b_content { padding-top:10px; text-align:left; padding-left:10px; width:500px;}
.link a { text-decoration:none; color:#FFFFFF; font-weight:bold; }
.link a:visited { text-decoration:none; color:#FFFFFF; font-weight:bold; }
.link a:hover { text-decoration:none; color:#CCCCCC; font-weight:bold; }
.link a:active { text-decoration:none; color:#414141; font-weight:bold; }

#gallery_shell {}
#gallery_shell .thum_prev {padding:5px; padding-top:10px; padding-bottom:10px; width:160px; height:112px; overflow:hidden; float:left; }

.errtext { font-size:11px; color:#CC0000; font-weight:bold;}
#errtext_e {visibility:hidden;}
#errtext_n {visibility:hidden;}
#errtext_msgsub {visibility:hidden;}